.name {
  padding-right: 2em;
}
.switcher {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.showing-result {
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
/* .top-filters {
  flex-direction: column;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */
/* .form-group {
  margin-right: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
} */
.form-select {
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 44px 10px 22px;
  color: var(--primary-color);
  background-color: rgba(25, 103, 210, 0.07);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.top-filters .form-select {
  color: #1967d2;
}
.sort-by {
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.sort-by .form-select {
  position: relative;
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
  color: dimgray;
  line-height: 25px;
  background-color: #f0f5f7;
  margin-bottom: 15px;
}

/* Small devices (landscape phones, 576px and up)   */
@media (min-width: 576px) {
  /* here your code   */
}

/* Medium devices (tablets, 768px and up)   */
@media (min-width: 768px) {
  .switcher {
    flex-direction: row;
  }
  .sort-by {
    flex-wrap: nowrap;
  }
  .switcher .sort-by .form-select {
    margin-left: 10px;
    margin-right: 12px;
  }
}

/* Large devices (desktops, 992px and up)   */
@media (min-width: 992px) {
  .switcher .sort-by .form-select {
    width: auto;
  }
  .switcher .sort-by {
    justify-content: flex-end;
  }
}

/* X-Large devices (large desktops, 1200px and up)   */
@media (min-width: 1200px) {
  /* here your code   */
}

/* XX-Large devices (larger desktops, 1400px and up)   */
@media (min-width: 1400px) {
  /* here your code  */
}
