.featured-openToWork {
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;
  background: var(--light-green);
  color: #34a853;
}

.featured-working {
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;
  background: var(--invalid);
  color: whitesmoke;
}

.img-container .img-wrapper {
  width: 100px;
  height: 100%;
  margin: auto;
  position: relative;
}

.img-container img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  min-width: 100px;
  min-height: 100px;
}
