.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 30px 0;
  background-color: var(--light-green);
}

/* To aling the cards to the left if number of cards is odd. */
.card-container::after {
  content: "";
}

@media screen and (min-width: 390x) {
}
@media screen and (min-width: 820px) {
}
@media screen and (min-width: 1024px) {
  .card-container {
    padding: 50px 5em 0;
  }
} ;
