.pagination {
  background-color: var(--light-green);
  padding-bottom: 15px;
}
.pagination ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.number-container {
  margin: 0 5px;
  font-size: 15px;
  line-height: 45px;
  min-width: 45px;
  text-align: center;
}
.number {
  cursor: pointer;
  display: block;
  color: var(--green);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.number:hover {
  background: var(--dark-green);
  color: var(--white);
}
.number-active {
  display: block;
  border-radius: 50%;
  transition: all 0.3s ease;
  background: var(--green);
  color: var(--white);
}

.pagination .prev:hover,
.pagination .next:hover {
  background: transparent;
  color: var(--green);
  cursor: pointer;
}

.pagination .prev-hidden,
.pagination .next-hidden {
  visibility: hidden;
}
